
@font-face{
	
	font-family: Dense;
	src: url(dense-webfont.woff);
	
	
}



#container{
	
	margin-left: auto;	
	margin-right: auto;
	margin-top: 5%;

	width: 50%;
}

#pageOne{
	
	display: visible;
	
}

#pageTwo{
	
	display: none;
	
}





img{
	
	height: 100%;
	width: 100%;
	min-height: 133.3px;
	min-width: 200px;
	max-height: 400px;
	max-width: 600px;

	
}



.text{
	
	text-align: center;
	
	
}


li{
	display: inline;
	list-style: none;
	font-family: Dense sans-serif;
	padding: 1em;

}

#rsvp{
	
	margin-left: -4%;
	
}

#venue{

	
}

#gifts{

}


a{
	font-family: Dense, sans-serif;
	font-size: 200%;
	color: black;
	text-decoration: none;
	
	
	/*#D4A0AD */
}