@font-face {
    font-family: Gotham;
    src: url(Gotham.ttf);
}



*p{

	font-family: Gotham, Helvetica, Arial, sans-serif;
	font-size: 40px;
 	font-weight: bold;
	
	
}

a{
	
	text-decoration: none;
	color: black;
}

a+#rsvp{
	color: red;
	
}

/**.picture{
	
	position: absolute;

	right: 200px;
	
	
	width: 200px;
	height: 200px;
}
**/

#container{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	
	width: 30%;
	height: 30%;
	padding: 300px;
	
}



#pageOne{
	
	visibility: visible;
	
}

#pageTwo{
	
	visibility: hidden;
	
}

.top{
	
	position: absolute;
	top: 100px;
	
}

.middle{
	position: absolute;
	top: 200px;
}

.middle2{
	position: absolute;
	top: 140px;
	right: 230px;
}

.bottom{
	position: absolute;
	top: 500px;
}

.bottom2{
	position: absolute;
	top: 450px;
	left: 290px;
}

#rsvp{
	position: absolute;
	color: red;
	right: 230px;
	top: 450px;
	
	
	
}
